In [ ]:
#Run the following code to print multiple outputs from a cell
get_ipython().ast_node_interactivity = 'all'

# Assignment 2: Feature Engineering

In this assignment, you will get practice using Python to clean the data set, *dataSeoulBike.csv*, and to create new features.

You have a dataset of daily rentals from a bike rental service in Seoul, Korea. The dataset has the following columns:
* 'Date': The date that the row of data is from.
* 'RentedBikeCount': The total number of bike rentals for that day.
* 'Forecast': The manager's rough, categorical forecast as to how much rental activity the day would have. 'Gold' is the highest expected rentals; 'Silver' is the second-highest; 'Normal' is all other days.
* 'Temperature': The day's temperature (in degrees Celsius).
* 'Humidity': The percent humidity
* 'WindSpeed': The wind speed in meters per second.
* 'Rainfall': The amount of rain (in millimeters).
* 'Season': The season in which the date falls (Fall, Winter, Spring, or Summer)

Use the following code cell to read in the data set:

In [ ]:
# Enter your code here

## Cleaning the Data Set

#### Q1. Create a new column called `RainfallCorrected` that is a copy of the `Rainfall` column. You can use `.copy()` to do this (e.g., `df["columnname"].copy()`).

No explanation needed for this question

In [ ]:
# Enter your code here

#### Q2. Workers failed to record the lack of rain. Update `RainfallCorrected` to replace any missing values with a 0.

#### What is the mean of the `RainfallCorrected` variable after this change (round to 3 decimals)?

*[Type your answer here]*

In [ ]:
# Enter your code here

#### Q3. Rainfall of more than 13 mm is not valid and is likely a data entry error. Update `RainfallCorrected` to change any values above 13 mm to NA's. 

#### Now, what is the mean of `RainfallCorrected` (round to 3 decimals)?

*[Type your answer here]*

In [ ]:
# Enter your code here

#### Q4. Now rename the original `Rainfall` column to `RainfallNo0s`.

No explanation needed for this question

In [ ]:
# Enter your code here

#### Q5. All the Temperature readings before 2018-02-17 are 11 degrees too high in the data; correct these incorrect Temperature values.

#### What is the mean of `Temperature` after making this change (round to 3 decimals)?

*[Type your answer here]*

In [ ]:
# Enter your code here

## Adding New Features

#### Q6. Add a variable called `Weekday` that provides the weekday name for each row (e.g., Sunday, Monday, Tuesday, etc.) based on the `Date`.

#### After making this change, how many rows in the data set are Tuesdays?

*[Type your answer here]*

In [ ]:
# Enter your code here

#### Q7. Create a variable called `HighBikeCount` that is `True` if the `RentedBikeCount` is greater than the median and `False` otherwise.

No explanation needed for this question

In [ ]:
# Enter your code here

#### Q8. Now create a stacked bar chart showing `HighBikeCount` on the x-axis split by `Season` as the color variable. The bars in the bar chart should show the proportion of each season, going up to 1.0 (or 100%).

#### What does the stacked bar chart tell you about the relationship between bike count and season?

*[type your response here]*

In [ ]:
# Enter your code here

## Transforming Features

#### Q9. Most of the data for `RainfallCorrected` are 0's, but you want to understand the pattern of bike rentals specifically on days when there WAS rain. Therefore, for this question, we will use `RainfallNo0s`.

#### First, correct the data in `RainfallNo0s` to change values over 13 mm to NA's (similar to what you did in Q3 above). 

#### Then create a histogram of the `RainfallNo0s` column.

No explanation needed for this question

In [ ]:
# Enter your code here

#### Q10. Based on what you see in the histogram for `RainfallNo0s`, transform the column so that the distribution is more symmetric. Call the transformed column `RainfallTransform`. 

#### Now create a histogram for the `RainfallTransform` column. Why will this column be better suited to a linear regression model?

*[type your response here]*

In [ ]:
# Enter your code here