# Class 2
## Data Types

Previously, our examples used numeric data (although I didn't explicitly talk about it.)

In [1]:
x = 5
type(x)

int

Unsurprisingly, data will often contain more than just numbers.

### Numeric

Numbers can be integer or contain decimals.

In [2]:
x = 3
type( x )

int

In [3]:
y = 4.3
type( y )

float

Numeric data is data that we could do math with.

In [4]:
x + y

7.3

In [5]:
x - y

-1.2999999999999998

In [6]:
x * y

12.899999999999999

In [7]:
x / y

0.6976744186046512

But not all data with the label "number" is a number.

In [8]:
zip = 02467  # with a leading zero

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-8-d6184abb5dee>, line 1)

### Strings

Data can also contain characters other than numbers.  This "string" or "character" data must be in single or double quotes.

In [ ]:
x = "test" # assigns a string to the variable x
x = 'test' # assigns a string to the variable x

But without quotes is not a string!

In [ ]:
y = test

You can't do math (or much analytics in general) with strings directly.

In [ ]:
x = "test"
x * 2

In [ ]:
x = "3"  
x * 2  # probably NOT what you expect

Strings need a starting " or ' and a matching ending " or '.  This incorrect command starts a string with the " but never finishes it.

In [ ]:
x = "test

### Logical

Logical (Boolean) values are either True or False

In [ ]:
x = True
type( x )

Value can be explicitly True or False. But they can also be the result of a logical expression.

In [ ]:
x = 1
( x == 2 )

In [ ]:
( x != 2 )

### Dates

What does 4/1/2021 mean? Is this 4 January 2021 or 1 April 2021?

In [ ]:
import datetime
x = datetime.date( 2021, 4, 21 )
x

In [ ]:
print( x )

In [ ]:
x.month

In [ ]:
x.weekday() # Monday is 0

We can use functions to create dates from strings.

In [ ]:
from dateutil import parser
x = parser.parse( "4/1/2021" )
x.month

In [ ]:
x = parser.parse( "4/1/2021", dayfirst = True )
x.month

Practice with dates: For 25 December 2021

In [ ]:
import datetime
x = datetime.date( 2021, 12, 25 )
print( x )

In [ ]:
x.month

In [ ]:
x.weekday()

In [ ]:
x.strftime("%A")

In [ ]:
x - datetime.date( 2021, 9, 8 )

In [ ]:
x - datetime.date.today()

## Importing Data

pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool.

### CSV files

In [ ]:
import pandas
df = pandas.read_csv( "02_Sample.csv" )

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
df.head()

In [ ]:
df

In [ ]:
df.describe()

### Excel

In [ ]:
df = pandas.read_excel( "02_Sample.xlsx" )

In [ ]:
df.shape