In [ ]:
#Run the following code to print multiple outputs from a cell
get_ipython().ast_node_interactivity = 'all'

# Midterm Practice Problems

## Section 1
This section does not use data.

#### Q: Round the number 3.14159265 to 3 decimal places.

#### Q: "factorial" is a function in the math module. Find the factorial of 7.

#### Q: "cos" is a function in the math module to find the cosine of a number in radians. Find the cosine of 45 radians.

#### Q: Use the cdf function from the scipy package (the function is in the stats submodule) to find the probability a random value a normal distribtion will be less than 3 if the mean value is 7 and the standard deviation is 2.

## Section 2
This section uses the file, **Coupons.csv**, about customers using coupons. From the data source, the description is:

* destination: No Urgent Place, Home, Work
* passanger: Alone, Friend(s), Kid(s), Partner (who are the passengers in the car)
* weather: Sunny, Rainy, Snowy
* temperature:55, 80, 30
* time: 2PM, 10AM, 6PM, 7AM, 10PM
* coupon: Restaurant(<0 dollars), Coffee House, Carry out & Take away, Bar, Restaurant(0-50 dollars)
* expiration: 1d, 2h (the coupon expires in 1 day or in 2 hours)
* gender: Female, Male
* age: 21, 46, 26, 31, 41, 50plus, 36, below21
* maritalStatus: Unmarried partner, Single, Married partner, Divorced, Widowed
* has_Children:1, 0
* education: Some college - no degree, Bachelors degree, Associates degree, High School Graduate, Graduate degree (Masters or Doctorate), Some High School
* occupation: list of occupations
* income: (in dollars) 37500 - 49999, 62500 - 74999, 12500 - 4999, 75000 - 87499, 50000 - 62499, 5000 - 37499, 100000 or More, 87500 - 99999, Less than 12500
* Bar: never, less1, 1-3, gt8, nan4-8 (feature meaning: how many times do you go to a bar every month?)
* CoffeeHouse: never, less1, 4-8, 1-3, gt8, nan (feature meaning: how many times do you go to a coffeehouse every month?)
* CarryAway:n4-8, 1-3, gt8, less1, never (feature meaning: how many times do you get take-away food every month?)
* RestaurantLessThan20: 4-8, 1-3, less1, gt8, never (feature meaning: how many times do you go to a restaurant with an average expense per person of less than 0 dollars every month?)
* Restaurant20To50: 1-3, less1, never, gt8, 4-8, nan (feature meaning: how many times do you go to a restaurant with average expense per person of 0 - 50 dollars every month?)
* toCoupon_GEQ15min:0,1 (feature meaning: driving distance to the restaurant/bar for using the coupon is greater than 15 minutes)
* toCoupon_GEQ25min:0, 1 (feature meaning: driving distance to the restaurant/bar for using the coupon is greater than 25 minutes)
* direction_same:0, 1 (feature meaning: whether the restaurant/bar is in the same direction as your current destination)
* direction_opp:1, 0 (feature meaning: whether the restaurant/bar is in the same direction as your current destination)
* Accepted:1, 0 (whether the coupon is accepted)
* ageActual: numeric Age

#### Q: How many rows and columns does the file contain?

#### Q: What data types are each of the columns in the file?

#### Q: Display the first few rows of data.

#### Q: Display the last few rows of data.

#### Q: How many rows are missing data for each column?

#### Q: Display the number of rows for each "destination" value.

#### Q: Display the number of rows for each "passanger" [sic] type.

#### Q: Display the first few rows for only the "weather" column.

#### Q: Show summary statistics for the numeric columns.

#### Q: Display the first few rows for only the "weather" and "temperature" columns.

#### Q: How many values are missing just from the "CarryAway" column?

#### Q: What is the sum of the "ageActual" column for all records?

#### Q: What is the percentage of the records have a "Bar" of "never" ignoring missing values?

#### Q: What is the percentage of the records have a "Bar" of "never" including missing values in the total number of records?

#### Q: What is the percentage of the records have a "Bar" of "never" including missing values in the total number of records, rounded to 2 decimals places

#### Q: Create a contingency table with "passanger" [sic] and "weather".

#### Q: Create a contingency table with "passanger" [sic] and "weather", including row and column totals.

#### Q: Create a contingency table with "passanger" [sic] and "weather", including row and column totals, showing overall percentages.

#### Q: Create a contingency table with "passanger" [sic] and "weather", including row and column totals, showing percentages by row.

#### Q: Create a contingency table with "passanger" [sic] and "weather", including row and column totals, showing percentages by columns.

#### Q: Show a histogram of the "temperature" column.

#### Q: Count the distinct values of each "temperature".

#### Q: Show a histogram of the "ageActual" column.

#### Q: Make a bar chart of the number of records by "destination".

#### Q: Make a scatterplot of "ageActual" (y) by "destination" (x).

#### Q: Make a boxplot of "ageActual" by "destination"

#### Q: Make a stacked bar chart showing the breakdown of "passanger" (x) by "coupon" (color legend). Each bar should go up to 100%.

#### Q: Find all the rows with the "destination" of "Home".

#### Q: Find all the rows with the "weather" of "Sunny".

#### Q: Find all the rows with the "destination" of "Home" and the "weather" of "Sunny".

#### Q: Find all the rows with the "destination" of "Home" OR the "weather" of "Sunny".

#### Q: Find all the rows with the "destination" of "Home" AND the "weather" of "Sunny" and only display the "destination" and "weather" rows.

#### Q: Calculate summary statistics for "destination" of "Home" AND the "weather" of "Sunny".

#### Q: Show a histogram of "ageActual" only for rows with "destination" of "Home" AND the "weather" of "Sunny".

#### Q: Show the rows with "destination" of "Home" AND the "weather" of "Sunny" ordered by ascending "ageActual"

#### Q: Show the rows with "destination" of "Home" AND the "weather" of "Sunny" ordered by descending "ageActual"

## Section 3
The following questions are examples of previous "managerial" types of questions:

#### Q: At several points this semester, I've brought up the idea of "self-service" analytics...the idea that more people today (vs. 15 years ago) have easier access to data and to the tools needed to analyze that data.  Discuss why this is a good thing as well as why this can sometimes lead to data quality issues. In your answer, provide at least 1 specific example of a data quality issue we discussed in class. (150 words max)

#### Q: Explain how the increase in "big data" has contributed to the problem of analytics bias. In your answer, use 3 examples of analytics bias discussed in class. (500 words max)

#### Q: If you were given a large (millions of records) dataset, what could you do to understand the quality and limitations of the data? (500 words max)

#### Q: Consider a hypothetical business that has both retail outlets and an ecommerce website. Assess the use of the three following potential sources of data for use in analytics to understand sales. (a) logs of website visitor traffic (web pages visited, time spent on each page, etc.); (b) census information from the government; and (c) video footage from in-store cameras. (500 words max)